.leftAlign{
	float: left;
}
.rightAlign{
	float: right;
}

.fillParent{
	width: 100%;
}

.noBorder{
	border: 0;
}

.centerAlign{
	float: center;
}

.bottomAlign{
	position: absolute;
	bottom: 1%;
}

.bgUserDetails{
	width: 80%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px ;
}

.bgRecordDetails{
	width: 80%;
	border-radius: 5px;
	background-color: #C0C0C0;
	padding: 20px ;
}

.btnUserDetails{
	width: 25% ;
	background-color: #99badd;
	padding: 14px 20px;
	margin: 8px 8px;
	border-radius: 4px;
	cursor: pointer;
}

.valueLabel{
	
}

.valueLabelLabel{
	
}

.btnRecordDetails{
	width: 25% ;
	background-color: #f2f2f2;
	padding: 14px 20px;
	margin: 8px 8px;
	border-radius: 4px;
	cursor: pointer;
}

.inBoxDetails{
	width: 100%;
	padding: 12px 20px ;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px ;
	box-sizing: border-box;
}